#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(-45deg, red, blue);
}

.card {
  padding: 2em;
  /* display: flex;
  place-content: center; */
  background: white;
  border-radius: 4px;
}

.btn {
  display: flex;
  gap: 1rem;
  place-items: center;
}

.btn img {
  width: 2rem;
}